@import "tailwindcss";

@utility hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

@utility hide-scrollbar {
    &::-webkit-scrollbar {
        display: none;
    }
}

@utility thin-scrollbar {
    &::-webkit-scrollbar {
        width: 4px;
    }

    &::-webkit-scrollbar-track {
        background: transparent;
    }

    &::-webkit-scrollbar-thumb {
        background: rgb(209 213 219);
        border-radius: 2px;
    }

    &::-webkit-scrollbar-thumb:hover {
        background: rgb(107 114 128);
    }
}
