---
import Prose from "../../Prose.astro";
import ContentHeader from "./ContentHeader.astro";
import FrontMatter from "./FrontMatter.astro";

const { post, Content, headings } = Astro.props;
---

<!-- Content -->
<div class="flex-1 max-w-3xl mx-auto">
    <div class="flex flex-col w-full p-5 min-h-screen">
        <!-- Header -->
        <ContentHeader filePath={post.id} />

        <!-- Frontmatter -->
        <FrontMatter post={post} headings={headings} />

        <!-- Markdown content -->
        <div class="flex-1 pt-5">
            <Prose>
                <Content />
            </Prose>
        </div>

        <!-- Footer -->
        <div>FOOTER</div>
    </div>
</div>
