---
export interface Props {
    level: number;
    id?: string;
}

const { level, id, ...props } = Astro.props;
const Tag = `h${level}` as any;
---

<Tag id={id} class="scroll-mt-20" {...props}>
    {
        id && (
            <a
                href={`#${id}`}
                class="ml-2 text-zinc-50 cursor-pointer"
                aria-label="Link to this section"
            >
                #
            </a>
        )
    }
    <slot />
</Tag>
